# Set, Dictionaries and 2D List

In [3]:
print("Iron Man")

Iron Man

In [ ]:
a={1,4,0,2,3,100,50,22,46,"world",0}
type(a)

set

In [5]:
a

{0, 1, 100, 2, 22, 3, 4, 46, 50, 'world'}

In [ ]:
# Searching in set take O(1)
# Insertion, deletion, searching in a set - O(1) time
# A constant number of operations
# It doesn't allow duplicate elements
# It doesn't store values in order

In [12]:
if 4 in a:
    print("4 is in the set")

4 is in the set

In [ ]:
a.add(0)  # it doesn't add duplicate elements and not give any error
print(a)

{0, 1, 2, 3, 4, 100, 450, 46, 50, 'world', 22}

In [ ]:
a.remove(65) # it will give error elements not present
a.discard(500) # if the value didn't present it will not give any error

In [15]:
a.remove(450)

In [20]:
a=set() # you can create empty set
a=set([5,4,2,10,56,1])
a

{1, 2, 4, 5, 10, 56}

### Mutable datatype whose can be changed  Ex-> List,set 
### Immutable datatype whose can't be changed  Ex-> int,str,float,tuple

In [21]:
a={'Hello',2,5.6,(2,5,8)}
a

{(2, 5, 8), 2, 5.6, 'Hello'}

In [22]:
# Make a list of unique tv shows compiling from all your friends

In [23]:
friend1 = [
    'How I Met Your Mother',
    'Breaking Bad',
    'The Wire'
]

friend2 = [
    'Breaking Bad',
    'Westworld',
    'The Office'
]

friend3 = [
    'Sopranos',
    'Game of Thrones',
    'Sherlock'
]

friend4 = [
    'Friends',
    'Sherlock',
    'Daredevil'
]

s=set()
s.update(friend1,friend2,friend3,friend4)
s

{'Breaking Bad',
 'Daredevil',
 'Friends',
 'Game of Thrones',
 'How I Met Your Mother',
 'Sherlock',
 'Sopranos',
 'The Office',
 'The Wire',
 'Westworld'}

In [25]:
for tv_series in s:
    print(tv_series,end=", ")

How I Met Your Mother, Friends, Daredevil, The Wire, Sherlock, Breaking Bad, Westworld, Sopranos, Game of Thrones, The Office,

In [29]:
# A fifth friend comes along with
friend5={
    'The Office',
    'Doctor Who',
    'Peaky Blinders'
}
for tv in friend5:
    if s.__contains__(tv):
        print(tv)

The Office

# Dictionaries

- They are used to store data in a key-value pair format.

- The keys are always unique within a dictionary.

- The values of the Python dictionary may or may not be unique.

- The values within a dictionary can be of any data type but the thing to note is that the keys are immutable. Hence, the key can only be strings, numbers or tuples.

- Dictionaries can be created using the dict() constructor or with curly brackets {}.

In [ ]:
currency=dict()
currency={}
currency={
    'India':'Rupee',
    'USA':'Dollar',
    'Japan':'Yen'
}
currency

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen'}

In [31]:
type(currency)

dict

In [32]:
currency['India']

'Rupee'

In [34]:
currency['USA']='USD'
currency

{'India': 'Rupee', 'USA': 'USD', 'Japan': 'Yen'}

In [36]:
T=(1,2,3)
currency[T]='ok'
print(currency)

{'India': 'Rupee', 'USA': 'USD', 'Japan': 'Yen', (1, 2, 3): 'ok'}

In [ ]:
del currency[(1,2,3)]  # to delete the data
currency

{'India': 'Rupee', 'USA': 'USD', 'Japan': 'Yen'}

In [40]:
currency['El Salvador']=set(['USD','Bitcoin']) # value can be anything list,set,tuple
currency

{'India': 'Rupee',
 'USA': 'USD',
 'Japan': 'Yen',
 'El Salvador': {'Bitcoin', 'USD'}}

In [ ]:
currency[None]='ok'  # None is also allow in it
currency

{'India': 'Rupee',
 'USA': 'USD',
 'Japan': 'Yen',
 'El Salvador': {'Bitcoin', 'USD'},
 None: 'ok'}

In [43]:
menu={
    'Dal Makhani':200,
    'Shahi Paneer':150,
    'Naan':45,
    'Roti':35,
    'Rice':100
}
menu

{'Dal Makhani': 200, 'Shahi Paneer': 150, 'Naan': 45, 'Roti': 35, 'Rice': 100}

### Order?
Is order maintained in Python Dictionaries ?

- All Python versions <=3.6     -> unorderd dictionaries
- All Python versions >=3.7     -> orderd dictionaries

In [44]:
# Iterating over a dictionary
menu

{'Dal Makhani': 200, 'Shahi Paneer': 150, 'Naan': 45, 'Roti': 35, 'Rice': 100}

In [45]:
menu.keys()

dict_keys(['Dal Makhani', 'Shahi Paneer', 'Naan', 'Roti', 'Rice'])

In [46]:
menu.values()

dict_values([200, 150, 45, 35, 100])

In [ ]:
# Check Palindrome
a="aba"
i=0
j=len(a)-1
flag=True
while(i<j):
    if(a[i]!=a[j]):
        flag=False
    i+=1
    j-=1
if(flag):
    print("It's a palindrome")
else:
    print("It's not a palindrome")

It's a palindrome

In [ ]:
def solve(A):
    # declare a frequency map (dictionary)
    freq={}
    for char in A:
        if char in freq:
            freq[char]+=1
        else:
            freq[char]=1
    # freq map created
    odd_frequencies=0
    for frequency in freq.values():
        if frequency%2==1:
            odd_frequencies+=1
    if odd_frequencies<=1:
        return 1
    else:
        return 0
# time complexity- O(n)
print(solve('ababa'))

1

### 2D Lists

In [57]:
a=[1,4,9,2,[1,2]]
a

[1, 4, 9, 2, [1, 2]]

In [58]:
type(a)

list

In [59]:
a=[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
a

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [60]:
a[0] # first row

[1, 2, 3, 4]

In [61]:
a[1] # second row

[5, 6, 7, 8]

In [62]:
a[0][2]

3

In [64]:
# Iterating over 2D arrays
for row in a:
    print(row)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [67]:
for row in a:
    for x in row:
        print(x**2,end=" ")
    print()

1 4 9 16
25 36 49 64
81 100 121 144

### Reading 2D Input
#### Let us say we are given an input as follows when the number of rows and columns is given first and then the 2D matrix:
2 4 
1 2 3 4
5 6 7 8

In [77]:
r,c=map(int,input().split())
r,c

(2, 4)

In [80]:
a=[]
#read the input row-by-row
# run loop r times
for i in range(r):
    row=list(map(int,input().split()))
    a.append(row)
a

[[1, 2, 3, 4, 5], [6, 7, 8, 9]]

### Problems to Practice

#### Easy

1. Addition of two matrices
2. Subtraction of two matrices

#### Intermediate

1. Compute determinant of a square matrix
2. Compute product of two matrices (given they are product compatible)

#### Hard

1. Compute the inverse of a matrix

In [83]:
import math
math.pi

3.141592653589793