# List Slicing

a[start:end:increment] in list

In [10]:
a=[2,4,9,3,1,6]
print(a[1:5:2])
print(a[::-1])   # It will print the reverse list
print(a[4:1:-1])

[4, 3]
[6, 1, 3, 9, 4, 2]
[1, 3, 9]

# List Comprehension

In [12]:
# Generate a list of squares of all numbers 1 to 100
a=[x**2 for x in range(1,101)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

# Using map function

In [13]:
def square(x):
    return x**2
res=list(map(square,range(1,101)))
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
a=[27,24,21,46,48,6,25,38,10,40]
b=[]
# Using for loop
for x in a:
    if x%2==0:
        b.append(x)
print(b)

[24, 46, 48, 6, 38, 10, 40]

In [ ]:
# Using list comprehension
b=[x for x in a if(x%2==0)]
print(b)

[24, 46, 48, 6, 38, 10, 40]

# Tuples

- Tuples are used to store multiple items in a single variable.

- A tuple is a collection which is ordered and immutable (unchangeable).

- Tuples are written with round brackets.

- Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

- Tuples can be created with tuple constructor - tuple()

- Tuples can also be created by simply writing multiple values with comma separation.

- Tuples are processed faster than lists in Python.

In [17]:
# Read only list
continents=('Asia','Africa','North America','South America','Europe')
print(type(continents))

<class 'tuple'>

In [19]:
# continents[0]='India' 'tuple' object does not support item assignment
print(continents[0])

Asia

In [21]:
vowels=('a','e','i','o','u')
vowels

('a', 'e', 'i', 'o', 'u')

In [ ]:
planets='Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'
type(planets)  # If i didn't use brackets and put values it will be tuple

tuple

In [27]:
a=("Hello",5,5.125,[2,3],(5,4))
a[3][0]=5
print(type(a[3]))

<class 'list'>

In [29]:
a=(2,3,4,5,1)
b=list(a)
b[2]=10
a=tuple(b)
a

(2, 3, 10, 5, 1)

In [30]:
for continent in continents:
    print(continent)

Asia
Africa
North America
South America
Europe

In [31]:
continents[1:3]

('Africa', 'North America')

In [32]:
a=("Hello",5,5.125,[2,3],(5,4))
b=(6,9,"Earth")
c=a+b
print(c)

('Hello', 5, 5.125, [2, 3], (5, 4), 6, 9, 'Earth')

In [33]:
p1,p2,*p3=c
print(p1,p2,p3)

Hello 5 [5.125, [2, 3], (5, 4), 6, 9, 'Earth']

In [35]:
a=[1,2,3]
b=(7,8,a)
a.append(45)
print(b)

(7, 8, [1, 2, 3, 45])

In [36]:
a=(1,2,3)
b=(4,5,6)
a=a+b
a

(1, 2, 3, 4, 5, 6)

In [44]:
# Check if sorted
a=(1,4,10,12,14,18,20)
ans="Sorted"
for i in range(0,len(a)-1):
    if(a[i]>a[i+1]):
        ans="Not sorted"
        break
print(ans)

Sorted

# Write a function which returns the product of all its arguments.

In [45]:
def product(*nums):
    print(nums,type(nums))
product(10,20,30,40,50,60,4,2,5,12)

(10, 20, 30, 40, 50, 60, 4, 2, 5, 12) <class 'tuple'>

In [46]:
def speak(*words):
    print(words,type(words))
speak("Hello","my","name","is","Manoj")

('Hello', 'my', 'name', 'is', 'Manoj') <class 'tuple'>

In [52]:
def product(*args):
    p=1
    for number in args:
        p=p*number
    return p
product(17,28,31)

14756

In [53]:
# * - spread operator
a=[2,5,6,1,8]
print(*a)

2 5 6 1 8