In [3]:
print("Bye")
a=5
b=10
print(a>b)

Bye
False

# Basic Python

In [5]:
#Python is interpreted Language
#Interpreted Language are slower
#Python is platfrom independent
print("Hello")

Hello

# Programming Fundamentals -1 : Intro to Python

In [6]:
p=100.15
r=5
t=2
si=(p*r*t)/100
print("Simple Interest: ",si)

Simple Interest:  10.015

In [7]:
name=input()
print("hello",name)

hello manoj

In [8]:
print("Good evening")
# This is a good evening statement
print("Hello to everyone")
# this is also a print statement

Good evening
Hello to everyone

In [9]:
a=100
print(type(a))

<class 'int'>

Variable 'a' is storing integer type of data

In [10]:
b=10.74982374
print(type(b))

<class 'float'>

Float - Numbers having the decimal point

In [11]:
c="Hello world"
print(type(c))

<class 'str'>

str-string

In [12]:
d=True
print(type(d))

<class 'bool'>

In [14]:
e=None
# None denoted NULL value
print(type(e))

<class 'NoneType'>

In [ ]:
# variable name must always begin with a character
# variable names are case sensitive
# special characters are not allowed in naming variables (underscore is an exception)
name1
name-1  # Not allowed
nmae_2 # this is allowed

In [16]:
_name=10
print(_name)

10

# Typecasting

In [ ]:
f=7.4

Convert this float number to an integer

7.4 ->7

In [19]:
f=7.4
i=int(f)
i1=int(-5.3)
i2=int(10.9)
print(i,i1,i2)

7 -5 10

In [ ]:
a='537'
i=int(a)
print(i,type(i))

i2=int("abcd") # that will give error

537 <class 'int'>

ValueError: invalid literal for int() with base 10: 'abcd'

In [ ]:
#Int to string
x=756565
s=str(x)
print(s,type(s))

756565 <class 'str'>

In [25]:
# Convert float to str
s2=str(8.562)
s2

'8.562'

In [ ]:
a=int(float("1.2"))  # for this first we have to convert it into float because it was not valid int string
a

1

# Range of Numbers

Python doesn't have any range of its numbers

# Operators

In [32]:
a=5+2 # Addition Operator
a=5-2 # Subtraction
a=5*2 # Multiplication
a=5/2 # Division
a=5//2 #Division.... but return in floor value
print(a)
a=5%2 #Modulo Operator
a=5**2  # Power operator
a

2

25

In [ ]:
x=10**(1/2)  #square root
print(x,type(x))

3.1622776601683795 <class 'float'>

# WTF Python github repo by satvik Bansal
https://github.com/satwikkansal/wtfpython