# Programming Fundamentals - 2

Print statement - args,end,sep

In [ ]:
print("Hello")

:

In [2]:
# By default the value of sep=' '
# By default the value of end='\n'
print("Hello","World","Hi","there",sep='+() ',end='@@@@')
print("Python is amazing")

Hello+() World+() Hi+() there@@@@Python is amazing

# Multiline strings, comments

In [5]:
s1="Hello World"
s2='Hello World'
print(s1,s2,type(s1),type(s2))

Hello World Hello World <class 'str'> <class 'str'>

In [ ]:
s2='''nfjskdfklahsdfkhakjhkfhakldhfkajhlkdfah
ahlfkasjhdfjhakdfhklasdhfkashdfkahsdsfklhasdfkhaskdsfj
ajhdsflkjhaldjfhkajdhfkahdfhdlfhl'''
print(s2)

nfjskdfklahsdfkhakjhkfhakldhfkajhlkdfah
ahlfkasjhdfjhakdfhklasdhfkashdfkahsdsfklhasdfkhaskdsfj
ajhdsflkjhaldjfhkajdhfkahdfhdlfhl

In [8]:
# Multiline Comment
"""
    This is some random text
    over there
    It could be anything
"""
# This is a single line comment

'\n    This is some random text\n    over there\n    It could be anything\n'

Branching

In [ ]:
age=75
if(age>=65):
    print("Retired")
elif age>=18:
    print("Voter")
else:
    print("Minor")

Retired

In [ ]:
# Here's run two statement because there are two different if conditions
age=75
if(age>=65):
    print("Retired")
if age>=18:
    print("Voter")
else:
    print("Minor")

Retired
Voter

and or

In [19]:
batch="java"
org="scaler"
if org=="scaler" and batch=="python":
    print("Allow")
else:
    print("block")

block

In [21]:
org=input()
if org=="scaler" or org=="interviewbit":
    print("allow")
else:
    print("ban")

ban

Loops

In [ ]:
# It's a class creation
# class Solution:
#     def solve():
        # write your code here

In [24]:
counter=1
while(counter<=10):
    print(counter,end=" ")
    counter+=1

1 2 3 4 5 6 7 8 9 10

In [29]:
a=int(input())
# for a in range (1,a+1):
#     for j in range(0,i):
#         print("*",end="")
#     print()
i=1
while i<=a:
    print("* "*i)
    # print("hello"*i)
    i+=1

*
* *
* * *
* * * *

Range Method

In [31]:
# range(11) is start from 0 by defaule and end at 10 not go to 11 inc=1 by default
# range(11)->0,1,2,3,4,5,6,7,8,9,10
# for range from 2 to 10
# range(2,10)->2,3,4,5,6,7,8,9
# to change the increment
# range(0,11,2)->0,2,4,6,8,10
# first value is start, second-> end,third->increment
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
list(range(2,11))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

For loop

It allows us to loop/Iterate over a range

In [44]:
# Print the squares odd numbers from 1 to 10
for i in range(1,10,2):
    print(i**2,end=" ")
    # print(type(i))

1 9 25 49 81

In [51]:
# Print the cube of all odd numbers from 10 to 1 (Reverse)
for i in range(9,0,-2):
    print(i**3,end=' ')

729 343 125 27 1

In [ ]:
for c in "Hello World":
    print(c,end=' ')

H e l l o   W o r l d

In [67]:
# Problem - Sum of Digits
# a=input("Enter the digit")
# sum=0
# for i in a:
#     sum+=int(i)
# print(sum)

# another method
n=int(input("Enter the number : "))
sum=0
while n>0:
    digit=n%10
    sum+=digit
    n=n//10
print(sum)

24

In [71]:
n=int(input("Enter the number"))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4
1 2 3
1 2
1

In [ ]:
# Spacing 
'''
0001000
0023200
0345430
4567654
'''
# We have n-i zeroes to print
# Increasing sequence -> start=i and end=2i-1
# Decreasing Sequence -> start 2i-2 and end=i

'\n0001000\n0023200\n0345430\n4567654\n'

In [79]:
n=int(input("Enter the number"))
for i in range(1,n+1):
    print("0"*(n-i),end="")
    for j in range(i,2*i):
        print(j,end="")
    for j in range((2*i)-2,i-1,-1):
        print(j,end="")
    print("0"*(n-i),end="")
    print()

000010000
000232000
003454300
045676540
567898765