# Functions

A function is a block of code which only runs when it is called.

In Python a function is defined with the ‘def’ keyword

Functions can accept any number of arguments of any type.

Functions can optionally return data as well. This data may also be of any type. You can return more than one value as well.

Arguments can have default values as well.

While calling functions, the user may define arguments as keyword pairs.

In [3]:
def tea():
    print("Boil water with tea leaves and sugar")
    print("Add Milk")
    print("Let it boil 4-5 times")

print("Not a part of the function")
def coffee():
    print("Boil some milk")
    print("Pour it in cup with some coffee")
    print("Stir")

Not a part of the function

In [10]:
# calling tea function
tea()
for i in range(1):
    tea()
coffee()

Boil water with tea leaves and sugar
Add Milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add Milk
Let it boil 4-5 times
Boil some milk
Pour it in cup with some coffee
Stir

Write a function to say hello to people by their names

In [7]:
print("Hello Tarun Kumar")

Hello Tarun Kumar

In [9]:
def hello(name):
    print("Hello "+name)
name=input()
hello(name)

Hello Vivek

In [17]:
def fight(name="Spiderman",age=20,villains=["Thanos","Ultron"]):
    print("Hero named",name,"at age",age,"was fighting all these villains -",villains)
fight("Spiderman",20,["Vulture","Venom","Electro"])
fight("Iron Man",20)
fight()

Hero named Spiderman at age 20 was fighting all these villains - ['Vulture', 'Venom', 'Electro']
Hero named Iron Man at age 20 was fighting all these villains - ['Thanos', 'Ultron']
Hero named Spiderman at age 20 was fighting all these villains - ['Thanos', 'Ultron']

## Returning data from a function

Write a function to get the cube of a number

In [22]:
def cube(x):
    # return value of x**3
    ans=x**3
    return ans
y=cube(5)
print(y)

125

In [23]:
z=cube(3)
print("5 cube + 3 cube",y+z)

5 cube + 3 cube 152

In [ ]:
# Returns as many as values as you want
def spiderman():
    return "Peter Parker",20,"Tom Holland" # reduntant code,will never get executed
name,age,actor=spiderman()
print("Name =",name)
print("Age =",age)
print("Actor =",actor)

Name = Peter Parker
Age = 20
Actor = Tom Holland

In [26]:
# Calling with keyword pair arguments
def fight(name,age,villains):
    print("Hero named",name,"at age",age,"was fighting all these villains -",villains)
fight(villains=["Venom","Goblin"],name="Spiderman",age=20)

Hero named Spiderman at age 20 was fighting all these villains - ['Venom', 'Goblin']

In [ ]:
m=10  # global varible 
# can be accessible inside any function
def square(x):
    return x**2
def pythagoras(a,b):
    c2=square(a)+square(b)  # local variable
    return c2
pythagoras(4,6)
# Scope-> Area where a variable is accessible

52

In [32]:
range? # to check the document

SyntaxError: invalid syntax (1921474985.py, line 1)

## Map Function

In [2]:
# Write a program to print prime no. in a range
def square(n):
    return n**2
a=[1,2,3,4,5]
b=list(map(square,a))
print(b)

[1, 4, 9, 16, 25]

In [ ]:
def prime(r):
    for i in range(2,r):
        if(r%i==0):
            return 
    return r

r=int(input("Enter the range: "))
ans=list(map(prime,range(2,r)))
print(ans)

[2, 3, None, 5, None, 7, None, None, None, 11, None, 13, None, None, None, 17, None, 19, None, None, None, 23, None, None, None, None, None, 29, None, 31, None, None, None, None, None, 37, None, None, None, 41, None, 43, None, None, None, 47, None, None, None, None, None, 53, None, None, None, None, None, 59, None, 61, None, None, None, None, None, 67, None, None, None, 71, None, 73, None, None, None, None, None, 79, None, None, None, 83, None, None, None, None, None, 89, None, None, None, None, None, None, None, 97, None, None]

## Lambda Functions

It's accept just one single statement

In [6]:
def square(x):
    return x**2

In [9]:
square2=lambda x:x**2
print(square2(850))

722500

In [ ]:
# with multiple data input
multiply1=lambda a,b:a*b
def multiply(a,b):
    return a*b

In [13]:
multiply1(19,56)

1064

In [15]:
# with multiple data return
d=lambda b:[b**2,b+b]
d(10)

[100, 20]